*~
.ruby-version
public/assets
db/*.sqlite*
solr/data
solr/pids
.rvmrc
config.ru
coverage/
doc/spec.html
log/*
*.log
git-export-daemon-ok
example_source_data/
public/index.html
system
public/pdf
public/scripts
public/swf
tmp
scratch_directory
doc/spec_profile.txt
script/import_data/
!vendor/cache/
!vendor/gems/cache/
public/assets/*
config/hirb.yml
*.swp
.livereload
*.orig
.DS_Store
*/.DS_Store
customers/
vendor/bundle/*
script/test
start_unicorn
mobi_start
config/unicorn.rb
private/*
Procfile
.env
.rbenv-version
.rbenv-gemsets
