.clearfix
%footer
  .row
    .col-sm-5
      2014 creativeLabs.
      %a{href: "http://bootstrapmaster.com"} Admin Templates
      by BootstrapMaster

    .col-sm-7.text-right
      Powered by:
      %a{alt: "Bootstrap Admin Templates", href: "http://bootstrapmaster.com/demo/genius/"} Genius Dashboard
      | Based on Bootstrap 3.1.1 | Built with brix.io
      %a{alt: "Brix.io - Interface Builder", href: "http://brix.io"} Interface Builder
