%header.navbar
  .container
    %button.navbar-toggle{"data-target" => ".sidebar-nav.nav-collapse", "data-toggle" => "collapse", type: "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a#main-menu-toggle.hidden-xs.open
      %i.fa.fa-bars
    %a.navbar-brand.col-md-8.col-xs-8{href: "/"}
      %span machine languages
