%header.navbar
  .container
    %button.navbar-toggle{"data-target" => ".sidebar-nav.nav-collapse", "data-toggle" => "collapse", type: "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a#main-menu-toggle.hidden-xs.open
      %i.fa.fa-bars
    %a.navbar-brand.col-md-2.col-sm-1.col-xs-2{href: "/"}
      %span machine languages
