#sidebar-left.col-lg-2.col-sm-1
  .sidebar-nav.nav-collapse.collapse.navbar-collapse
    %ul.nav.main-menu
      %li
        %a{href: "/episodes"}
          %i.fa.fa-volume-up
          %span.hidden-sm.text Podcasts
  %a#main-menu-min.full.visible-md.visible-lg{href: "#"}
    %i.fa.fa-angle-double-left
