#sidebar-left.col-lg-2.col-sm-1
  .sidebar-nav.nav-collapse.collapse.navbar-collapse
    %ul.nav.main-menu
      %li
        %a{href: "index.html"}
          %i.fa.fa-bar-chart-o
          %span.hidden-sm.text Dashboard
      %li
        %a.dropmenu{href: "#"}
          %i.fa.fa-eye
          %span.hidden-sm.text UI Features
          %span.chevron.closed
        %ul
          %li
            %a.submenu{href: "ui-sliders-progress.html"}
              %i.fa.fa-eye
              %span.hidden-sm.text Sliders  Progress
          %li
            %a.submenu{href: "ui-nestable-list.html"}
              %i.fa.fa-eye
              %span.hidden-sm.text Nestable Lists
          %li
            %a.submenu{href: "ui-elements.html"}
              %i.fa.fa-eye
              %span.hidden-sm.text Elements
      %li
        %a{href: "widgets.html"}
          %i.fa.fa-dashboard
          %span.hidden-sm.text Widgets
      %li
        %a.dropmenu{href: "#"}
          %i.fa.fa-folder-o
          %span.hidden-sm.text Example Pages
          %span.chevron.closed
        %ul
          %li
            %a.submenu{href: "page-inbox.html"}
              %i.fa.fa-envelope-o
              %span.hidden-sm.text Inbox
          %li
            %a.submenu{href: "page-invoice.html"}
              %i.fa.fa-file-text
              %span.hidden-sm.text Invoice
          %li
            %a.submenu{href: "page-todo.html"}
              %i.fa.fa-tasks
              %span.hidden-sm.text ToDo  Timeline
          %li
            %a.submenu{href: "page-profile.html"}
              %i.fa.fa-male
              %span.hidden-sm.text Profile
          %li
            %a.submenu{href: "page-pricing-tables.html"}
              %i.fa.fa-table
              %span.hidden-sm.text Pricing Tables
          %li
            %a.submenu{href: "page-404.html"}
              %i.fa.fa-unlink
              %span.hidden-sm.text 404
          %li
            %a.submenu{href: "page-500.html"}
              %i.fa.fa-unlink
              %span.hidden-sm.text 500
          %li
            %a.submenu{href: "page-lockscreen.html"}
              %i.fa.fa-lock
              %span.hidden-sm.text LockScreen
          %li
            %a.submenu{href: "page-lockscreen2.html"}
              %i.fa.fa-lock
              %span.hidden-sm.text LockScreen2
          %li
            %a.submenu{href: "page-login.html"}
              %i.fa.fa-key
              %span.hidden-sm.text Login Page
          %li
            %a.submenu{href: "page-register.html"}
              %i.fa.fa-sign-in
              %span.hidden-sm.text Register Page
      %li
        %a.dropmenu{href: "#"}
          %i.fa.fa-edit
          %span.hidden-sm.text Forms
          %span.chevron.closed
        %ul
          %li
            %a.submenu{href: "form-elements.html"}
              %i.fa.fa-edit
              %span.hidden-sm.text Form elements
          %li
            %a.submenu{href: "form-wizard.html"}
              %i.fa.fa-edit
              %span.hidden-sm.text Wizard
          %li
            %a.submenu{href: "form-dropzone.html"}
              %i.fa.fa-edit
              %span.hidden-sm.text Dropzone Upload
          %li
            %a.submenu{href: "form-x-editable.html"}
              %i.fa.fa-edit
              %span.hidden-sm.text X-editable
      %li
        %a.dropmenu{href: "#"}
          %i.fa.fa-list-alt
          %span.hidden-sm.text Charts
          %span.chevron.closed
        %ul
          %li
            %a.submenu{href: "charts-flot.html"}
              %i.fa.fa-chevron-right
              %span.hidden-sm.text Flot Charts
          %li
            %a.submenu{href: "charts-xcharts.html"}
              %i.fa.fa-chevron-right
              %span.hidden-sm.text xCharts
          %li
            %a.submenu{href: "charts-others.html"}
              %i.fa.fa-chevron-right
              %span.hidden-sm.text Other
      %li
        %a{href: "typography.html"}
          %i.fa.fa-font
          %span.hidden-sm.text Typography
      %li
        %a{href: "gallery.html"}
          %i.fa.fa-picture-o
          %span.hidden-sm.text Gallery
      %li
        %a{href: "table.html"}
          %i.fa.fa-align-justify
          %span.hidden-sm.text Tables
      %li
        %a{href: "calendar.html"}
          %i.fa.fa-calendar
          %span.hidden-sm.text Calendar
      %li
        %a{href: "file-manager.html"}
          %i.fa.fa-folder-open
          %span.hidden-sm.text File Manager
      %li
        %a.dropmenu{href: "#"}
          %i.fa.fa-star
          %span.hidden-sm.text Icons
          %span.chevron.closed
        %ul
          %li
            %a.submenu{href: "icons-halflings.html"}
              %i.fa.fa-star
              %span.hidden-sm.text Halflings
          %li
            %a.submenu{href: "icons-glyphicons-pro.html"}
              %i.fa.fa-star
              %span.hidden-sm.text Glyphicons PRO
          %li
            %a.submenu{href: "icons-filetypes.html"}
              %i.fa.fa-star
              %span.hidden-sm.text Filetypes
          %li
            %a.submenu{href: "icons-social.html"}
              %i.fa.fa-star
              %span.hidden-sm.text Social
          %li
            %a.submenu{href: "icons-font-awesome.html"}
              %i.fa.fa-star
              %span.hidden-sm.text Font Awesome
      %li
        %a.dropmenu{href: "#"}
          %i.fa.fa-folder-open
          %span.hidden-sm.text 4 Level Menu
          %span.chevron.closed
        %ul
          %li
            %a{href: "2nd-level.html"}
              %i.fa.fa-folder
              %span.hidden-sm.text 2nd Level
          %li
            %a.dropmenu{href: "#"}
              %i.fa.fa-folder-open
              %span.hidden-sm.text 2nd Level
              %span.chevron.closed
            %ul
              %li
                %a{href: "3rd-level.html"}
                  %i.fa.fa-folder
                  %span.hidden-sm.text 3rd Level
              %li
                %a.dropmenu{href: "#"}
                  %i.fa.fa-folder-open
                  %span.hidden-sm.text 3rd Level
                  %span.chevron.closed
                %ul
                  %li
                    %a.submenu{href: "4th-level.html"}
                      %i.fa.fa-folder
                      %span.hidden-sm.text 4th Level
              %li
                %a.dropmenu{href: "#"}
                  %i.fa.fa-folder-open
                  %span.hidden-sm.text 3rd Level
                  %span.chevron.closed
                %ul
                  %li
                    %a.submenu{href: "4th-level2.html"}
                      %i.fa.fa-folder
                      %span.hidden-sm.text 4th Level
  %a#main-menu-min.full.visible-md.visible-lg{href: "#"}
    %i.fa.fa-angle-double-left
